CONFIG_IDF_TARGET="esp32"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# ---- OTA ?? ----
# 1) ???????? (? OTA ?), ? partitions.csv
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# 2) ?????? HTTP ? OTA?
#    ??????? HTTPS + ???????; ?? ECS ? http://...:8888, ?????
#    ??: ????? + ?????????, ??????????
CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y

# 3) ????: ?????????? esp_ota_mark_app_valid_cancel_rollback(),
#    ?????? bootloader ?????????????????
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y

# 4) ???????: ? CONFIG_APP_PROJECT_VER ????, ???????????
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="1.0.8"
